.nav {

        padding: 0;

   
}

.navLink {
    padding-left:  10px;
}

.navLinkActive {
    padding-left:  10px;
    background: #9E9E9E;
}

.navToggle {
  display: block;
  
}

.navToggleActive {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.navToggleLess {
    display: none;
}

.navToggleMore {
    display: block;
}

.navToggleLink {
    padding-left:  24px;
}

.navToggleLinkActive {
    padding-left:  24px;
    background: #9E9E9E;
}

.navToggleTitle {
    padding-left:  0px;
}


.navToggleTitleButton {
    padding-left:  10px;
    width: 100%;
    text-align: left;
    border: 0;
    background:transparent;
    cursor: pointer;
}

.navToggleTitleButtonMUI {
    text-transform: none;
    width: 100%;
}
.navLinkButton {
  
    text-decoration: none;
  }

.nav a {
    text-decoration: none;
    
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}